<<<<<<< HEAD


=======
body {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
    font-smooth: antialiased;
    background: #ffffff;
  }
  
>>>>>>> 1e96ea093cde98767a1d02687529f52044832dac
.container {
    width: 1500px;
    height: 800px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

.input-area {
background-color: #dff3e3;
border-radius: 15px 0 0 15px;
}
.review {
box-shadow: inset 0px 0px 30px -20px rgb(153, 179, 159);
border-radius: 0 15px 15px 0;
border-left: 2px solid #8db596;
position: relative;
border-radius: 0 0 15px 15px;
border-top: 2px solid #8db596;
border-left: none;
}
.review > h1:first-child {
position: absolute;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.8);
color: #fff;
font-size: 14px;
display: inline;
padding: 0.25rem;
}
.table-wrap {
margin: 2rem 1rem;
height: 90%;
border: 1px solid #000;
}
tbody > tr {
font-size: 24px;
}

tbody > tr > td:nth-of-type(4) {
font-size: 18px;
padding: 0;
padding-right: 0.5rem;
}
.showDeleteIcon {
visibility: visible;
}

.review {
border-radius: 0 0 15px 15px;
border-top: 2px solid #8db596;
border-left: none;
}
.form-data{
    width: 250px;
    margin-top: 10px;
}

.form-body{
    width: 500px;
    height: 200px;
    margin-top: 10px;
    padding-top: -10px;
}
.btn-submit{
    margin-top: 10px;
    width: 200px;
<<<<<<< HEAD
    height: 20px;
}

.btn-clear{
    margin-top: 10px;
    width: 200px;
    background-color: lightgreen;
}


=======
    height: 30px;
}

.wrapper{
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table{
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  /*display: table;*/
}

.row{
  display: table-row;
  background: #f6f6f6;
}

.row:nth-of-type(odd){
    background: #e9e9e9;
}
.row.header{
    font-weight: 900;
    color: #ffffff;
    background: #3b3b3b;
}
.row.green{
    background: #27ae60;
}
.row.blue{
    background: #2980b9;
}

.cell{
  padding: 6px 12px;
  display: table-cell;
}
>>>>>>> 1e96ea093cde98767a1d02687529f52044832dac
